.footer-container {
  background-color: var(--clr1);
  width: 100%;
  padding: 1rem;
  position: absolute;
  bottom: 0;
}

.main-footer {
  flex-direction: column;
  width: 100%;
}

.small {
  text-align: center;
}

.socials-container {
  margin-bottom: 4.5625rem;
}

span a {
  text-decoration: underline;
}
