.main-header {
  background-color: var(--clr1);
  padding: 0;
}

/* .logo {
  width: 30%;
  padding: 0.8rem;
} */

.logo {
  font-family: pacifico;
  color: var(--clr2);
  font-size: 2rem;
  padding: 1.5rem;
}

.header-container {
  background-color: var(--clr1);
  width: 100%;
}
