
.meme-image {
  box-shadow: 2px 2px 5px 0px #000;
  animation-name: fade-in-meme;
  animation-duration: 0.6s;
}

@keyframes fade-in-meme {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
