.menu-item {
  margin: 0;
  color: var(--clr2);
  font-family: lobster;
  font-size: 1.5rem;
  padding: 2rem 0;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}

.menu-item:hover {
  color: var(--clr5);
}
